# Log files
npm-debug.log*
yarn.lock*
package-lock.json*
yarn-debug.log*
yarn-error.log*

# ide
*.suo
*.ntvs*
*.njsproj
*.sln

# node
node_modules/

# unplugin-auto-imports vite plugin
*imports*.json
*imports*.d.ts
vite.config.ts.**
vitest.config.ts.**
.types

# vscode check depd files
target/
.agent/
.kiro/
.idea/
.vscode/
dist/

### 某些临时文件
vite.config.ts.timestamp**
/playground

### AI Coding ###
.cursorrules
.qoderignore
.warpindexignore
/.cursor/
.cursorignore
/.lingma/

### .turbo ###
.turbo

### AI Coding ###
.factory/
.skills/
.windsurf/
.eslintcache
/.mcp.json
.claude
CLAUDE.md
AGENTS.md
GEMINI.md
WARP.md
.npmrc
*_log.txt
test_*.ts
*.log

# Exclude everything
*