# Log files
npm-debug.log*
yarn.lock*
package-lock.json*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml*

# ide
*.suo
*.ntvs*
*.njsproj
*.sln

# node
node_modules/

# unplugin-auto-imports vite plugin
*imports*.json
*imports*.d.ts
vite.config.ts.**
vitest.config.ts.**
.types

# vscode check depd files
target/
.idea/
.vscode/
dist/

### 某些临时文件
vite.config.ts.timestamp**
/playground

### 某些临时文件 ###
.turbo
.eslintcache
.npmrc
*_log.txt
test_*.ts
*.log
LICENSE
!/LICENSE
