# Log files
npm-debug.log*
yarn.lock*
package-lock.json*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml*

# ide
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/

# node
node_modules/

# unplugin-auto-imports vite plugin
*imports*.json
*imports*.d.ts

# vscode check depd files
target/

dist
